@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

.alert-danger {
  border: 1px solid #e74c3c;
  color: white;
  border: none;
  padding: 21px 21px 15px 30px;
  border-radius: 2px;
}

.alert-success {
  border: 1px solid #2ecc71;
  color: white;
  border: none;
  padding: 21px 21px 15px 30px;
  border-radius: 2px;
}

.alert-info {
  border: 1px solid #3498db;
  color: white;
  border: none;
  padding: 21px 21px 15px 30px;
  border-radius: 2px;
}

.alert-warning {
  border: 1px solid #fc9700;
  color: white;
  border: none;
  padding: 21px 21px 15px 30px;
  border-radius: 2px;
}

.alert-white {
  color: #404040;
  padding-left: 81px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.alert-white.rounded .icon {
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
}

.alert-white .icon {
  text-align: center;
  width: 65px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
}

.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -5px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 24px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #fc9700;
  background: #fc9700;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #e74c3c;
  background: #e74c3c;
}

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #3498db;
  background: #3498db;
}

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #2ecc71;
  background: #2ecc71;
}

.r_loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.blob {
  width: 2rem;
  height: 2rem;
  background: rgba(230, 230, 230, 0.85);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);
  -webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
  -webkit-animation: animate-to-2 1.5s infinite;
          animation: animate-to-2 1.5s infinite;
}

.blob-3 {
  -webkit-animation: animate-to-3 1.5s infinite;
          animation: animate-to-3 1.5s infinite;
}

.blob-1 {
  -webkit-animation: animate-to-1 1.5s infinite;
          animation: animate-to-1 1.5s infinite;
}

.blob-4 {
  -webkit-animation: animate-to-4 1.5s infinite;
          animation: animate-to-4 1.5s infinite;
}

.blob-0 {
  -webkit-animation: animate-to-0 1.5s infinite;
          animation: animate-to-0 1.5s infinite;
}

.blob-5 {
  -webkit-animation: animate-to-5 1.5s infinite;
          animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
  25%, 75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-2 {
  25%, 75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@-webkit-keyframes animate-to-3 {
  25%, 75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-3 {
  25%, 75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@-webkit-keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  50%, 75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  50%, 75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@-webkit-keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  50%, 75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  50%, 75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@-webkit-keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }

  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
            transform: translateX(-7.5rem) scale(0.5);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }

  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }

  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
            transform: translateX(-7.5rem) scale(0.5);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@-webkit-keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }

  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
            transform: translateX(7.5rem) scale(0.5);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }

  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }

  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
            transform: translateX(7.5rem) scale(0.5);
  }

  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

#r_basic_info .well {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#r_basic_info h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#r_basic_info h4:hover {
  cursor: pointer;
}

#r_basic_info .well:hover {
  cursor: pointer;
}

#r_basic_info .well p {
  font-size: 18px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

#r_basic_info .well p:last-child {
  margin-bottom: 0px !important;
}

#r_basic_info .well p i {
  min-width: 30px;
}

#r_basic_info .r_dashboard_update_block {
  margin-bottom: 10px;
}

.be-date-block .be-custom-select-block {
  width: 100%;
}

#r_basic_info #r_change_profile .modal-body button {
  margin-top: 20px;
}

.r_profile_question i {
  color: #3498db;
}

#r_basic_info .r_profile_question h4 {
  margin-bottom: 5px;
  margin-top: 30px;
}

.r_profile_question p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  line-height: 1.8em;
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 16px;
}

.r_profile_question textarea {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  line-height: 1.8em;
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 16px;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 130px;
}

.r_profile_question textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.r_profile_qna_button {
  margin-top: 15px;
}

.r_profile_qna_button .r_profile_qna_cancel {
  float: left;
  border-radius: 2px;
  padding: 15px 56px;
  position: relative;
  color: #e74c3c;
  border-color: #e74c3c;
  margin: 0px;
  font-size: 16px;
}

.r_profile_qna_button .r_profile_qna_cancel:hover {
  color: white;
  background: #e74c3c;
  border-color: #e74c3c;
}

.r_profile_qna_button .r_profile_qna_cancel:focus {
  outline: none;
}

.r_profile_qna_button .r_profile_qna_save {
  float: right;
  border-radius: 2px;
  padding: 15px 56px;
  position: relative;
  margin: 0px;
  font-size: 16px;
}

.r_profile_qna_button .r_profile_qna_save:focus {
  outline: none;
  color: white;
}

.r_profile_qna_button .r_profile_qna_save:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.r_profile_edit_qna {
  margin: 20px 0px 15px 0px;
}

.be-user-detail .r_left_change_profile_btn:focus {
  outline: none;
  color: white;
}

.r_profile_hl {
  padding: 0 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: auto;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
}

.r_profile_hl_selected {
  border: 1px solid #0d58c8;
  background-color: #0d58c8;
  color: #fff;
}

#r_profile_image_modal h4 {
  text-align: left;
}

#myDropzone {
  width: 269px;
  height: 202px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  padding: 0px;
}

#dropzonePreview {
  float: right;
  position: relative;
  width: 50%;
  text-align: center;
}

#r_dropzone_icons {
  margin-bottom: 15px;
  margin-top: 15px;
}

#r_dropzone_icons i {
  color: #c7c7c7;
}

#myDropzone p {
  color: #c7c7c7;
  text-align: center;
  font-size: 16px;
}

#myDropzone .dz-preview .dz-image {
  overflow: hidden;
  width: 269px;
  height: 202px;
  position: relative;
  display: block;
  z-index: 10;
  border-radius: 0px;
}

#myDropzone .dz-preview {
  margin: -2px;
}

#myDropzone .dz-remove {
  position: absolute;
  top: 63%;
  z-index: 9999;
  left: 36%;
  color: white;
  background: #e74c3c;
  padding: 6px 25px;
  border-radius: 2px;
}

#myDropzone .dz-remove:hover {
  text-decoration: none;
}

#dropzonePreview i {
  color: #c7c7c7;
  margin-bottom: 10px;
}

#dropzonePreview h5 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #c7c7c7;
}

#dropzonePreview p {
  font-size: 16px;
  color: #c7c7c7;
}

.modal-backdrop.in {
  opacity: 0.7;
}

#r_account_modal_button {
  margin-right: 0px;
  margin-bottom: 0px;
}

#r_account_modal_button:focus {
  outline: none;
  color: white;
}

.r_custom_modal .modal-dialog {
  margin: 80px auto;
}

.r_custom_modal .modal-content {
  border-radius: 2px;
}

.r_custom_modal .modal-title {
  color: white;
}

.r_custom_modal .modal-header button {
  color: white;
}

.r_custom_modal .modal-header {
  background: #0d58c8;
  padding: 25px 35px;
}

.r_custom_modal .modal-body {
  padding: 30px;
}

.r_custom_modal input[type="email"],
.r_custom_modal input[type="text"],
.r_custom_modal input[type="password"] {
  width: 100%;
  line-height: 45px;
  border-radius: 2px;
  border: none;
  color: #b4b7c1;
  background: #ecf0f1 !important;
  padding-left: 15px;
  margin-bottom: 20px;
}

.r_custom_modal select {
  background: #ecf0f1 !important;
}

.r_custom_modal .for-signin button,
.r_custom_modal .for-signup button {
  padding: 13.5px 30px;
}

.r_custom_modal .be-checkbox {
  float: left;
  position: relative;
}

.r_custom_modal .r_forget_password {
  float: right;
  position: relative;
}

.r_custom_modal_form_part {
  padding-top: 20px;
  padding-bottom: 20px;
}

.full-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: none;
}

.full-width-tabs > ul.nav.nav-tabs > li {
  float: none;
  display: table-cell;
  width: 100%;
}

.take-all-space-you-can {
  width: 100%;
}

.r_custom_modal .tabbable .nav {
  margin-bottom: 30px;
}

.r_custom_modal .nav-tabs > li.active > a {
  background: #0d58c8 !important;
  color: white !important;
  border: 1px solid #0d58c8 !important;
  border-radius: 0px !important;
  padding: 12.5px 30px;
}

.r_custom_modal .tabbable .nav-tabs li a {
  border-radius: 0px;
  border: 1px solid #ecf0f1;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  padding: 12.5px 30px;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

#r_dashboard .author-post p {
  color: #262626;
  margin-bottom: 10px;
}

#r_detail .well {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#r_detail h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#r_detail .well p {
  font-size: 18px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

#r_detail .well p:last-child {
  margin-bottom: 0px !important;
}

#r_detail .well p i {
  min-width: 30px;
}

#r_detail .r_detail_question h4 i {
  color: #3498db;
}

#r_detail .r_detail_question h4 {
  margin-bottom: 5px;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.87);
}

#r_detail .r_detail_question p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin-top: 20px;
  word-wrap: break-word;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 1;
}

#r_detail .r_detail_question p i {
  color: #b5b5b5;
}

.r_detail_photo {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.r_detail_photo a {
  display: table-cell;
  width: 25%;
  padding: 10px;
  border-right: 6px solid white;
}

.tags_block li a {
  border-radius: 2px;
}

.r_detail_photo a img {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.r_detail_photo a img:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.disappear {
  display: none;
}

select:focus {
  outline: none;
}

.noPadding {
  padding-left: 0px;
  padding-right: 0px;
}

.noPaddingLeft {
  padding-left: 0px;
}

.noPaddingRight {
  padding-right: 0px;
}

.center {
  text-align: center;
}

.r_signup_form .r_signup_label {
  line-height: 45px;
  font-size: 16px;
}

.r_home_search_filter_title {
  display: inline;
  padding-right: 20px;
}

.r_profile_select {
  border: 1px solid #edeff2;
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari å’Œ Chrome */
}

#r_profile_state_part .be-drop-down:hover,
#r_profile_state_part .be-drop-down.be-dropdown-active {
  background: #0d58c8 !important;
  color: #FFF;
}

.r_profile_select:focus,
.r_profile_select:active {
  outline: none;
  border-color: transparent;
  background: #0d58c8;
  color: white;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

