#r_basic_info .well {
	box-shadow: none;
	border:none;
}
#r_basic_info h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
#r_basic_info h4:hover {
	cursor: pointer;
}
#r_basic_info .well:hover {
	cursor: pointer;
}
#r_basic_info .well p {
	font-size: 18px;
	color: #8c8c8c;
	margin-bottom: 10px;
}
#r_basic_info .well p:last-child {
	margin-bottom: 0px !important;
}
#r_basic_info .well p i {
	min-width: 30px;
}
#r_basic_info .r_dashboard_update_block {
	margin-bottom: 10px;
}
.be-date-block .be-custom-select-block {
	width: 100%;
}
#r_basic_info #r_change_profile .modal-body button {
	margin-top: 20px;
}
.r_profile_question i {
	color: #3498db;
}
#r_basic_info .r_profile_question h4 {
	margin-bottom: 5px;
	margin-top: 30px;
}
.r_profile_question p {
    color: rgba(0,0,0,.7);
    font-weight: 400;
    line-height: 1.8em;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 16px;
}
.r_profile_question textarea {
    color: rgba(0,0,0,.7);
    font-weight: 400;
    line-height: 1.8em;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 16px;
	border-radius: 2px;
	box-shadow: none;
	height: 130px;
}
.r_profile_question textarea:focus {
	box-shadow: none;
}
.r_profile_qna_button {
	margin-top: 15px;
}
.r_profile_qna_button .r_profile_qna_cancel {
	float: left;
	border-radius: 2px;
	padding: 15px 56px;
	position: relative;
	color:#e74c3c;
	border-color: #e74c3c;
	margin: 0px;
	font-size: 16px;
}
.r_profile_qna_button .r_profile_qna_cancel:hover {
	color:white;
	background: #e74c3c;
	border-color: #e74c3c;
}
.r_profile_qna_button .r_profile_qna_cancel:focus{
	outline: none;
}
.r_profile_qna_button .r_profile_qna_save {
	float: right;
	border-radius: 2px;
	padding: 15px 56px;
	position: relative;
	margin: 0px;
	font-size: 16px;
}
.r_profile_qna_button .r_profile_qna_save:focus {
	outline: none;
	color: white;
}
.r_profile_qna_button .r_profile_qna_save:active {
	box-shadow: none;
}
.r_profile_edit_qna {
	margin: 20px 0px 15px 0px;
}
.be-user-detail .r_left_change_profile_btn:focus{
	outline: none;
	color: white;
}