.modal-backdrop.in {
	opacity: 0.7;
}
#r_account_modal_button {
    margin-right: 0px;
    margin-bottom: 0px;
}
#r_account_modal_button:focus {
	outline: none;
	color: white;
}
.r_custom_modal .modal-dialog {
	margin: 80px auto;
}
.r_custom_modal .modal-content {
	border-radius:2px;
}
.r_custom_modal .modal-title {
	color: white;
}
.r_custom_modal .modal-header button {
	color: white;
}
.r_custom_modal .modal-header {
	background: #0d58c8;
	padding: 25px 35px;
}
.r_custom_modal .modal-body {
	padding: 30px;
}
.r_custom_modal input[type="email"],
.r_custom_modal input[type="text"],
.r_custom_modal input[type="password"] {
    width: 100%;
    line-height: 45px;
    border-radius: 2px;
    border: none;
    color: #b4b7c1;
    background: #ecf0f1 !important;
    padding-left: 15px;
    margin-bottom: 20px;
}
.r_custom_modal select {
    background: #ecf0f1 !important;
}
.r_custom_modal .for-signin button,
.r_custom_modal .for-signup button {
	padding: 13.5px 30px;
}
.r_custom_modal .be-checkbox {
	float: left;
	position: relative;
}

.r_custom_modal .r_forget_password {
	float: right;
	position: relative;
}

.r_custom_modal_form_part {
	padding-top: 20px;
	padding-bottom: 20px;
}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border: none;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
    width: 100%;
}
.take-all-space-you-can {
    width:100%;
}
.r_custom_modal .tabbable .nav {
	margin-bottom: 30px;
}
.r_custom_modal .nav-tabs>li.active>a {
	background: #0d58c8 !important;
	color: white !important;
	border:1px solid #0d58c8 !important;
	border-radius: 0px !important;
	padding: 12.5px 30px;
}

.r_custom_modal .tabbable .nav-tabs li a {
	border-radius: 0px;
	border:1px solid #ecf0f1;
	margin-left: 0px;
	margin-right: 0px;
    text-align: center;
	padding: 12.5px 30px;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

#r_dashboard .author-post p {
	color: #262626;
	margin-bottom: 10px;
}